.u-full-width{
    td{
        vertical-align: top;
    }
}
.subjectName{
    text-transform: capitalize;
}
.bookList{
    font-size: 1rem;
    margin-bottom: 5px;
    padding:2px 5px;
    background: lightsalmon;
    border:1px solid salmon;
    border-radius:2px;
    text-transform: capitalize;
    &:nth-child(odd){
        background: lightgreen;
        border:1px solid green;
    }
}

.todayList{
    background: lemonchiffon;
}
